<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	
	<bean id="mapperFactory" class="es.serbatic.mapper.MapperFactory">
		<property name="converters">
			<list>
				<bean id="alumnosConverter" class="es.serbatic.converter.AlumnosConverter"></bean>
				<bean id="profesoresConverter" class="es.serbatic.converter.ProfesoresConverter"></bean>
				<bean id="asignaturasConverter" class="es.serbatic.converter.AsignaturasConverter"></bean>
				<bean id="alumnosAsignaturasConverter" class="es.serbatic.converter.AlumnoAsignaturasConverter"></bean>
			</list>
		</property>
	</bean>
	<!-- Jackson model mapper -->
	<bean class="org.modelmapper.ModelMapper" id="modelMapper" factory-bean="mapperFactory" factory-method="create">
		
	</bean>	
	
</beans>